
.saletable .saletabletr .saletabletd {
	border: 0px;
}

.saletabletrheader .saletabletrfooter .saletabletdheader .saletabletdfooter {
	border: 0px;
}

.header_td {
	border: 0px;
	font-family: MuseoModerno;
	font-size:0.48em;
	color:lightgreen;
	text-align: center;
}

.footer_td {
	border: 0px;
	font-family: MuseoModerno;
	font-size:0.2em;
	text-shadow: 2px 2px 5px black;
	text-align: center;
}

/* */
.price_td {
	border: 0px;
	text-align: left;
	text-shadow: 2px 2px 5px black;
}

.sale_price_td {
	border: 0px;
	text-align: right;
	
}
.sale_percent_td {
	border: 0px;
	text-align: right;
	font-family: MuseoModerno;
	font-size:0.2em;
}

.product_title {
	border: 0px;
	font-family: MuseoModerno;
	
}

.product_title_add {
	border: 0px;
	font-family: MuseoModerno;
}

.sale_percent {
	font-family: MuseoModerno;
	font-size:1.5em;
	color:lightgreen;
}

.sale_banner {
	font-family: MuseoModerno;
	font-size:1.55em;
	color:green;
}

.sale_price {
	font-family: Ultra;
	font-size:1em;
	color:lightgreen;
}

.sale_till {
	font-family: Ultra;
	font-size:2em;
	color:lightgreen;
}

.sale_to_date {
	font-family: Ultra;
	font-size:1em;
	color:lightgreen;
	text-shadow: 2px 2px 5px black;
}

.sale_valid {
	font-family: Ultra;
	font-size:1em;
	color:lightgreen;
	
}

.norm_price_strike {
	font-family: Ultra;
	font-size:0.8em;
	color:lightgray;
	text-decoration: line-through;
	text-shadow: 2px 2px 5px black;
}

.norm_price {
	font-family: Ultra;
	font-size:0.35em;
	color:lightgray;
	text-shadow: 2px 2px 5px black;
}

