
.saletable .saletabletr .saletabletd {
	border: 0px;
}

.saletabletrheader .saletabletrfooter .saletabletdheader .saletabletdfooter {
	border: 0px;
}

.header_td {
	border: 0px;
	font-size:1em;
	text-align: center;
}

.footer_td {
	border: 0px;
	font-size:0.6em;
	text-align: center;
}


.sale_price_td {
	border: 0px;
	font-size:1.9em;
	text-align: right;
}

.sale_percent_td {
	border: 0px;
	vertical-align: text-top;
	text-align: left;
	font-size:0.3em;
}

.product_title {
	border: 0px;
	font-size:0.7em;
	
}

.product_title_add {
	border: 0px;
}

.sale_percent {
	font-size:2em;
	color:#aaFFaa;
}

.sale_banner {
	font-size:1.55em;
	color:yellow;
}

.sale_price {
	font-size:1em;
	color:lightgreen;
	text-shadow: 2px 2px 5px black;
}

.sale_till {
	color:blue;
}

.sale_to_date {
	color:blue;
}

.sale_valid {
	color:blue;
	
}

.norm_price_strike {
	font-size:0.8em;
	color:lightgray;
	text-decoration: line-through;
	text-shadow: 3px 3px 8px black;
}

.norm_price_prefix
{
	font-size:0.5em;
	color:lightgray;
	text-shadow: 2px 2px 5px black;
}

.norm_price {
	font-size:1.9em;
	color:green;
	text-shadow: 2px 2px 5px black;
}

.norm_price_on_sale_td
{
	border: 0px;
	color:lightgray;
	text-align: left;	
}

.norm_price_td {
	border: 0px;
	text-align: center;
}

